body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header{
    height: 89px;
    width: 100%;
    background-color: honeydew;
    padding: 0 164px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center; 
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); 
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed; 
    left: 0;
    top: 0;

}

.link{
    text-decoration: none; /*убирает в тэге а подчеркивание*/
    text-transform: capitalize; /*меняет заглавные на строчные и т.д.*/
    font-size: 17px;
    color: #808080;
    margin-right: 38px;

}

.login{
    border: none;
    outline: none;
    cursor: pointer;
    width: 87px;
    height: 27px;
    background: #de6d6e;
    border-radius: 3px;
    color: white;
    font-size: 17px;
    text-transform: capitalize;
    margin-left: 4px;
}
.banner{
    height: 588px;
    width: 100%;
    background-image: url('../image/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -65px;
    color: white;
    padding-bottom: 85px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.title{
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 800;

}

.title_small{
    font-size: 25px;
}
.info{
    width: 100%;
    height: 469px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 66px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}

.info_title{
    color: #404040;
    font-size: 35px;
    margin-bottom: 30px;

}

.menu{
    width: 50px;
    height: 50px;
    border: 3px solid #404040;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}
.line{
    width: 35px;
    height: 3px;
    background-color: #404040;
    position: relative;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.line::after{
    content: '';
    width: 35px;
    height: 3px;
    background-color: #404040;
    position: absolute;
    left: 0;
    top: 8px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.line::before{
    content: '';
    width: 35px;
    height: 3px;
    background-color: #404040;
    position: absolute;
    left: 0;
    bottom: 8px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}


.info_text{
    width: 830px;
    text-align: center;
}

.circles{
    width: 100%;
    padding: 0 160px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 87px;
}

.card{
    border-radius: 50%;
    background-color: #4eb9f4;
    width: 179px;
    height: 179px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    flex-shrink: 0;
}
.card > img{
    margin-bottom: 12px;
}

.blue{
    background-color: #4eb9f4;
}

.green{
    background-color: #6fc125;
}

.red{
    background-color: #ff5649;
}

.orange{
    background-color: #e48f23;
}

.chb{
    display: none;
}

.chb:checked+.line{
    background-color: transparent;
}
.chb:checked + .line::after{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
}

.chb:checked + .line::before{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 0;
}

.chb:checked ~ .dropdown{
    height: 200px;
}

.dropdown{
    position: absolute;
    width: 250px;
    height: 0;
    background-color: white;
    -webkit-box-shadow: 5px 5px 10px 0 black;
            box-shadow: 5px 5px 10px 0 black;
    left: 55px;
    top: 50px;
    -webkit-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
}

.dropdown > .link{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.news{
    width: 100%;
    padding: 45px 129px;
    box-sizing: border-box;
    padding-bottom: 0;

}

.news-item{
    width: 100%;
    height: 135px;
    display: flex;
    margin-bottom: 79px;
    padding-left: 65px;
    box-sizing: border-box;

}
.news-info{
    margin-left: 27px;
    padding-top: 10px;
    box-sizing: border-box;
}
.news-title{
    font-size: 27px;
    font-weight: 300;
    color: #404040;
    display: block;
    width: 285px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news-text{
    font-size: 15px;
    color: #8b8b8b;

}

.footer{
    width: 100%;
    height: 259px;
    background: #232326;
    padding-left: 129px;
    padding: 36px 129px 34px 129px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    color: #aeaeae;
    font-size: 21px;

}
.footer-list{
    list-style-type: none; /*убирает кружки со списка*/
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 0;

}

.footer-list > li {
    margin-bottom: 2px;

}

.footer-list > li >a {
    font-size: 12px;
    color: #aeaeae;
    text-decoration: none; /*убирает подчеркивание*/
    padding: 0;

}

.submenus{
    width: 644px;
    display: flex;
    justify-content: space-between;
    margin-left: 65px;

}
.social{
    color: #aeaeae;
    font-size: 15px;
    margin-top: 18px;

}

.social-btns > a{
    margin-right: 25px;
    text-decoration: none;

}

.social-btns > a:last-child{
    margin-right: 0;
}

.social-btns{
    margin-bottom: 30px;
}

@media screen and (max-width: 1310px){
    .footer{
        padding: 36px 20px 34px 20px;
    }
    .submenus{
        margin-left: 0;
    }
}

@media screen and (max-width: 1056px){
    .circles{
        padding: 0 10px;
    }
    .footer{
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    }
}
@media screen and (max-width: 980px) {
    .header{
        padding: 0 20px;
    }
    .title{
        font-size: 30px;
    }
    .info_text{
        width: 100%;
    }

}

@media screen and (max-width: 710px){
    .links{
        display: none;
    }
    .header{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
    }
    .menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .title{
        font-size: 25px;
    }
    .circles{
       /*flex-direction: column;*/
        align-items: center;
        flex-wrap: wrap;
    }
    .card{
        margin: 10px 30px;
    }
    .info{
        height: auto;
    }

    .submenus{
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    .submenus{
        flex-wrap: wrap;
    }
    .social-btns > a{
        margin-right: 10px;
    }
}

.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}